 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 body{
    background-color: #00081D;
    margin: 20px;
 }
 
 h1{
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive; 
    color: red;
    letter-spacing: 5px;
    margin-left: 20px;
}
header{
    display: flex;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.buttons{
    margin-left: auto;
    margin-top:25px;
    margin-right: 20px;
}
.options{
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.options option{
    background-color: #00081D;
}
.signin{
    background-color: #E50914;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: #00081D;
}
.main h1{
 color: white;
}
.main{
    background-image: url(1.jpg);
    width: 98%;
    height: 35rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
/* .redbox{
    width: 48%;
    height: 20rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    color: white;
    border: 1px solid white;
    background-color: red;
    position: absolute;
    mix-blend-mode: lighten;
    opacity: 0.3;
} */
.main h1{
    font-family: sans-serif;
    text-transform: capitalize;
    font-weight: 1000;
    font-size: 3.3rem;
    letter-spacing: 1px;
    padding-top: 130px;
    padding-left: 100px;
    margin: 0px;
}
.main p{
    font-family: sans-serif;
    text-transform: capitalize;
    color: white;
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-left: 100px;
    margin-top: 0px;
    
}
.email{
    width: 300px;
    background: #29021D;
    color: grey;
    height: 60px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 100px;
}
.main p:first-of-type{
    font-weight: 600;
}
.gs{
    background-color: #E50914;
    color: white;
    width: 150px;
    border-radius: 5px;
    border-color: transparent;
    height: 60px;
    margin-left: 10px;
}
.gs a{
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}
.first-box{
    width: 98%;
    height: 25rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
.tvbox{
    float: right;
    width: 480px;
    margin-top: 50px;
    margin-right: 100px;
    
}
.first-box h2,p{
    color: white;
    font-family: sans-serif;
    justify-content: flex-start;
    padding-left: 150px;
}
.tvdef{
    padding-top: 175px;
    font-size: 2.2rem;
    font-weight: 1000;
}.first-box p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 8px;
}

.second-box{
    width: 98%;
    height: 25rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.mobile{
    float: left;
    width: 480px;
    margin-left: 100px;
    
}
.second-box h2,p{
    color: white;
    font-family: sans-serif;
    justify-content: flex-start;
    padding-right: 150px;
}
.mobdef{
    padding-top: 100px;
    font-size: 2.2rem;
    font-weight: 1000;
}.second-box p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 8px;
}

.third-box{
    width: 98%;
    height: 25rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    margin-top: 0px;
}
.kid{
    float: right;
    width: 480px;
    margin-right: 100px;
    
}
.third-box h2,p{
    color: white;
    font-family: sans-serif;
    justify-content: flex-start;
    padding-left: 150px;
}
.kiddef{
    padding-top: 100px;
    font-size: 2.2rem;
    font-weight: 1000;
}.third-box p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 23px;
}

.fourth-box{
    width: 98%;
    height: 25rem;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.download{
    float: left;
    width: 480px;
    margin-left: 100px;
    
}
.fourth-box h2,p{
    color: white;
    font-family: sans-serif;
    justify-content: flex-start;
    padding-right: 150px;
}
.downlo{
    padding-top: 90px;
    font-size: 2.2rem;
    font-weight: 1000;
}.fourth-box p{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 8px;
}
.faq h1{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 100px;
}
.faq-box1{
    border: 1px solid white;
    overflow: hidden;
    background-color: #223362;
    margin-bottom: 10px;
    justify-content: center;
    margin: 10px 100px 10px;
}
.faq h2{
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 50px;
}
.faq p{
    color: white;
    font-family: sans-serif;
    padding-left: 50px;
  }
  .both , .both i{
    display: flex;
    
  }
.faq-toggle{
    margin-left: auto;
    margin-right: 20px;
}
/* .faq-question button{
    position: absolute;
    top: 2500px;
    left: 700px;
    background: transparent;
    color: white;
    border: 0;
    cursor: pointer;
} */


.faq-box1 .active .fa-chevron-down{
    display: none;
}
.faq-box1 .fa-chevron-down{
    display: block;
    
}
.faq-box1 .fa-xmark{
    display: none;
}
.faq-box1 .active .fa-xmark{
    display: block;
}

dilog p{
    padding-left: 100px;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 50px;
    
}
dilog .email{
    border-radius: 2px;
}
dilog .gs{
    border-radius: 2px;
    font-size: larger;
    border: none;
    margin-bottom: 70px;
}
contact p{
    padding-left: 100px;
    opacity: 0.75;
    margin-bottom: 50px;
}
contact a{
    text-decoration: underline;
    color: white;
    opacity: 0.75;
}
.foot ul{
    display: flex;
}
.foot ul li a{
    text-decoration: underline;
    color: white;
    overflow: hidden;
}
.foot ul li:first-child{
}
.first{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 75px;
    margin-right: 75px;
}
.second{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 150px;
    margin-right: 75px;
}
.third{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 150px;
    margin-right: 75px;
}
.fourth{
    display: flex;
    flex-direction: column;
    margin: 15px;
    margin-left: 75px;
    margin-right: 75px;
}
.first li, .second li , .third li , .fourth li{
    padding-bottom: 30px;
    display: inline;
    flex-wrap: nowrap;
    text-align: left;
    box-sizing: content-box;
   text-transform: capitalize;
}
.first li a{
    flex-wrap: nowrap;
    text-align: center;
}
.copy{
    margin-left: -150px;
    margin-top: 50px;
    margin-bottom: 50px;
}
  
  .faq {
    background-color: #223362;
    border: 1px solid white;
    margin-bottom: 10px;
    margin: 10px 100px 10px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    transition: 0.3s ease;
    justify-content: center;
  }
  
  .faq .active {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* .faq.active::before,
  .faq.active::after {
    content: '\f075';
    font-family: 'Font Awesome 5 Free';
    color: #2ecc71;
    font-size: 7rem;
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
  }
  
  .faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
  } */
  
  .faq-title {
    margin: 0 35px 0 0;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 50px;
    font-weight: 700;
  }
  
  .faq-text {
      display: none;
      margin: 30px 0 0;
    }
    
    .faq.active .faq-text {
      display: block;
    }
  
  .faq-toggle {
    background-color:transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
    color: white;
  }
  
  .faq-toggle:focus {
    outline: 0;
  }
  
  .faq-toggle .fa-times {
    display: none;
  }
  
  .faq.active .faq-toggle .fa-times {
    color: #fff;
    display: block;
  }
  
  .faq.active .faq-toggle .fa-plus {
    display: none;
  }
  
  .faq.active .faq-toggle {
    background-color:transparent;
  }
  .fak{
    color: white;
    font-size: 2rem;
    font-weight: 900;
    padding-left: 100px;
  }

  /* <--  L O G I N P A G E ---> */
  

